<div class="container-fluid d-flex justify-content-center row">

    <div class="col-lg-12 mt-3 ml-4" id="separador"> </div>

    <main class="row col-lg-12 m-3 p-3">
        
        <section class=" col-md-10 row">

            <div class="col-sm-12 mb-2">
               <a href="" data-toggle="modal" data-target="#i"> <p class="titulo hover">A GRANDE DESCOBERTA DE UM RAIO - "X"</p></a>
                <p class="subtitulo">Denominado "X" por se tratar de um raio desconhecido...</p>
            </div>

            <div class="col-sm-8">
                <p class="text-justify">"[...] Eu passei uma corrente pelo tubo e notei uma linha preta peculiar no papel 'O que era isso?'".
                "O efeito era algo que só poderia ser produzido pela passagem de luz. Mas nenhuma luz poderia provir do tubo [...] estavam saindo raios do que tinham um efeito luminescente [...] Parecia inicialmente um novo tipo de luz invisivel, era claramente algo novo, algo não registrado."</p>

                <p class="text-right text-break">-Entrevista que Röntgen concedeu <br>ao jornalista americano Henry Dam</p>

                <div class="col-lg-12 mt-3" id="separador"> </div>

                <p class="text-justify mt-3">Em poucos meses, praticamente todos os centros médicos tinham adotado a nova tecnologia, com diversas variações. <br>

                Pode se dizer que nunca houve, na história da ciéncia, em tão curto espaço de tempo transcorrido entre uma descoberta fundamental e sua primeira aplicação. </p>
            </div>

            <div class="col-sm-4" >
                <img src="../../assets/img/wilhelm_conrad.png "  style="height:350px ; width:280px;" alt="">
            </div>
        </section>

        <section class="col-md-2 row">
            
            <div class="row">
                <div class="col-sm-6 " style="height: 150px;">
                    <p class="titulo-2">Hand</p>
                    <p class="titulo-2">mit</p>
                    <p class="titulo-2">Ringen</p>
                </div>
                <div class="col-sm-6" style="height: 120px; width: 150px;">
                    <img src="../../assets/img/primeira_radiografia.jpg" alt="" style="width: 100%; height: 100% ;">
                </div>
                <div class="col-md-12 text-justify">
                    <p>O cientista utilizou a tecnologia jogando os <i>"raios-x"</i> atraves da mão de sua esposa, Bertha Roentgen, durante alguns minutos. Do outro lado, colocou uma chapa fotográfica. Depois de revelá-la, viam-se nela os contornos dos ossos da mão: e essa foi a primeira radiografia da história.</p>
                </div>
            </div>
        </section>
    </main>

    <div class="col-lg-12 mt-3 ml-4" id="separador"> </div>

    <main class="row col-lg-12 m-3 p-3 mb-0 pb-0">

        <div class="col-md-12 ">
             <p class="titulo">O QUE SÃO OS RAIO - "X" E SUAS PROPRIEDADES</p>
         </div>

        <section class="row col-md-8 ml-2 pl-2">
            <p class="text-justify">Röntgen foi descobrindo algumas propriedades básicas dos novos raios. Eles se propagavam em linha reta produzindo por isso sombras regulares. Eram capazes de penetrar grandes espessuras de diversos materiais especialmente no caso de materiais menos densos. Os metais especialmente o chumbo o absorviam mais fortemente. </p>
            <p class="text-justify">Eram capazes de produzir fluorescência em várias substancias diferentes. Por analogia com a luz radiação ultravioleta e raios catódicos Röntgen estudou várias outras propriedades os raios X eram capazes de sensibilizar chapas fotográficas como essas radiações. Não podiam ser refletidos nem refratados o que os diferenciava da luz e da radiação ultravioleta, mas os aproximava dos raios catódicos No entanto eram muito mais penetrantes do que os raios catódicos, e, ao contrário desses não podiam ser desviados por imãs Röntgen fez alguns testes e não detectou fenômenos de interferência e polarização com os novos raios.
            </p>
        </section>

        <section class="col-md-4"> 
            <img src="../../assets/img/issoai.png" alt="" class="ml-3">
        </section>
    </main>

    <main class="row col-lg-12 m-3 p-3 mt-0 pt-0">
        <section class="col-md-4 ml-2 pl-2"> 
            <img src="../../assets/img/poucas.png" alt="" class="ml-3">
        </section>
        
        <section class="row col-md-8 ">
            <p class="text-justify">Além disso sabe-se que os raios X são pacotes de energia na forma de ondas eletromagnéticas (radiação eletromagnética), como a luz visível, as ondas de rádio, os raios gama, as micro-ondas, entre outras. A energia dos raios X pode ser medida em elétron-volt (eV). A diferença entre as várias ondas eletromagnéticas está no seu comprimento de onda (λ) e na sua frequência (f), cujo produto é igual à velocidade da onda.</p>

            <p class="text-justify">O olho humano é sensível a ondas eletromagnéticas de comprimento de onda da ordem de 400 a 700 nm, formando a faixa da luz visível, cujos menores e maiores comprimentos de onda correspondem às cores violeta e vermelha, respectivamente. Já os raios ultravioleta, X e gama apresentam comprimentos de ondas menores do que os da luz visível; enquanto os raios infravermelhos, micro-ondas e ondas de rádio apresentam comprimentos de onda maiores do que 700 nm. Os raios X possuem comprimentos de onda no intervalo de 10-11 a 10-8 metros.
            </p>
        </section>
    </main>

    <div class="col-lg-12 mt-3 ml-4 mb-4" id="separador"> </div>
</div>

<!-- Modal raio-x -->
<div class="modal fade" id="i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content teste">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body row text-justify">
            <div class="col-lg-12 ml-1 mb-1" id="separador"> </div>
            <div class="col-md-12">
                <p class="titulo-modal"> Raio-X</p>
            </div>
            <div class="col-md-8">
                <p>Na última sexta-feira, 8 de novembro de 1895, Wilhelm Conrad Röntgen afirma ter feito uma descoberta revolucionária enquanto realizava experimentos em seu laboratório. Os ‘Raios X”, como batizaram os demais cientistas devido à falta de informação de sua fonte, ainda não teve todas as suas propriedades elucidadas, mas já demonstrou ser capaz de atravessar objetos opacos e fotografar ossos, como mostra a imagem cedida pelo bom cientista. </p>

                <p>Apesar de ainda ser uma descoberta nebulosa, convidamos alguns físicos para tentar pensar no que essa nova radiação pode ser usada e como ela pode ser empregada em benefício da humanidade.</p>

                <p>Além do potencial para uso médico que os raios X apresentam, mostrando nossos ossos sem a necessidade de rasgar a pele, futuramente eles podem nos ajudar a encontrar coisas escondidas dentro do corpo humano e por fora também, como um revólver debaixo de um grosso casaco ou uma faca debaixo de uma cartola.</p>
            </div>
            <div class="col-md-4 ">
                <img src="../../assets/img/raio-x-mao.jpeg" alt="" style="width: 100%;">
                
                <p style="font-size: 10pt;" class="mt-2">(Hand mit Ringen: a primeira rádiografia de Wilhelm Röntgen referente a mão de sua esposa).
                </p>
            </div>

            <div class="col-md-6 mt-3">
                <p>O geólogo Dr. Stone disse que com essa nova tecnologia talvez seja possível descobrir o tipo de rochas que forma o solo. “Se conseguirmos criar um padrão de como os elementos reagem à exposição dessa nova radiação, podemos criar um protocolo para identificar a composição de formações geológicas”, disse o especialista. </p>
                <p>Os raios X podem revolucionar a indústria também, como aponta o físico Dr. Newton. Segundo ele, pode-se usar a emissão de raios X para fazer a análise de peças produzidas em metal sem ter que destruí-las para buscar defeitos internos. Isso pode aumentar a produtividade e diminuir o gasto com refugos de produção.</p>
                <p>Apesar da pouca quantidade de informação que temos, os próximos anos parecem guardar grandes</p>
            </div>

            <div class="col-md-6 mt-3">
                <p>
                 possibilidades para a descoberta do senhor Röntgen. Cabe ao futuro nos revelar como isso revolucionará o mundo.
                </p>

                <img src="../../assets/img/maquina-futuro.jpg_small" alt="">

                <p style="font-size: 10pt;" class="mt-2">(Imagem faz ilusão á uma maquina no futuro).
                </p>
            </div>
            <div class="col-lg-12 mt-3 ml-1" id="separador" ></div>
        </div>
    </div>
</div>